body {
    background-color: #3F51B5 !important;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-answer:hover {
    cursor:pointer;
    background-color: rgba(0, 0, 0, 0.06);
}

.question-footer {
    border-top: solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#question-endScreen h1 {
    text-align: center;
    margin: 16px 0;
}

.width-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.restart-Button {
    text-align: center;
    margin: 24px 0;
}